:root {
  --clr-char-outline: #5a8f05;
}

.character-sheet {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;

  .armor-class-box-svg {
    fill: var(--clr-dark-background);
    opacity: 0.8;
  }

  .armor-class-outline-svg {
    fill: var(--clr-char-outline);
  }
}

/* Ability Scores and Skill Modifiers */
.ability-scores,
.skill-modifiers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--clr-dark-background);
  border: 2px solid var(--clr-char-outline);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  opacity: 0.8;

  h1 {
    font-size: 1rem;
  }

  .score-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .ability {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;

    h3 {
      font-size: 0.6rem;
    }

    .modifier {
      font-size: 1.8rem;
      text-align: center;
      height: 3rem;
      width: 3.5rem;
      border: none;
      background: none;
      color: var(--clr-white);
    }

    .score {
      font-size: 0.8rem;
      text-align: center;
      height: 2rem;
      width: 2rem;
      border: none;
      border-radius: 50%;
      background: var(--clr-dark);
      color: var(--clr-white);
    }
  }

  .skill-block {
    padding-bottom: 2rem;


    .skill-box {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: row;

      label {
        font-size: 0.8rem;
      }

      .base-ability-label {
        display: flex;
        align-content: center;
        justify-content: center;
        color: var(--clr-accent-light);
        font-weight: bolder;
      }

      .proficiency-indicator {
        width: 1.5rem;
        align-items: center;
        justify-content: center;
        padding-left: 0.5rem;
        text-align: center;
      }

      .base-ability {
        width: 3rem;
      }

      .skill {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 0.5px solid var(--clr-char-outline);
        padding-right: 0.8rem;

        .skill-name {
          width: 7rem;

          label {
            display: flex;
            text-transform: capitalize;
          }
        }

        .skill-modifier {
          text-align: center;
          width: 1rem;
          height: 2rem;
          font-size: 1rem;
          color: var(--clr-white);

        }
      }
    }
  }
}

/* Armor Class */
.armor-class {
  position: relative;

  .shield {
    height: 6rem;
    width: 6rem;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
  }

  h3.title {
    position: absolute;
    top: 1rem;
    left: 1.9rem;
    font-size: 0.6rem;
    z-index: 1;
  }

  h3.sub-title {
    position: absolute;
    top: 3.6rem;
    left: 2rem;
    font-size: 0.6rem;
    z-index: 1;
  }

  input {
    position: absolute;
    top: 1.2rem;
    left: 1.1rem;
    font-size: 1.5rem;
    text-align: center;
    height: 3rem;
    width: 3.5rem;
    border: none;
    background: none;
    font-weight: 800;
    color: var(--clr-white);
    z-index: 1;
  }
}