:root {
  --clr-char-outline: #029b49;
  --clr-dice-roll-hover: #f5a623;
  --clr-skill-dice-roll-hover: #b55dff;

  --font-size-medium: 0.8rem;
  --opacity: 0.85;
}

.dd-dice-canvas {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.character-sheet {
  padding-top: 5rem;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(12, 1fr);

  .character-sheet-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .ability-scores {
    grid-column: 3 / span 3;
  }

  .saving-throws{
    background: var(--clr-dark-background);
    border: 2px solid var(--clr-char-outline);
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    opacity: var(--opacity);
    grid-column: 3 / span 2;
    grid-row: 3 / span 3;
  }

  .class-dc {
    background: var(--clr-dark-background);
    border: 2px solid var(--clr-char-outline);
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    opacity: var(--opacity);
    grid-column: 3 / span 2;
    grid-row: 6 / span 3;
  }

  .skill-modifiers {
    grid-column: 5;
    grid-row: 3 / span 6;
  }

  .armor-class-box-svg {
    fill: var(--clr-dark-background);
    opacity: var(--opacity);
  }

  .armor-class-outline-svg {
    fill: var(--clr-char-outline);
  }
}

/* Ability Scores and Skill Modifiers */
.ability-scores,
.skill-modifiers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--clr-dark-background);
  border: 2px solid var(--clr-char-outline);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  opacity: var(--opacity);

  h1 {
    font-size: 1rem;
    padding-top: 0.5rem;
  }

  .score-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .ability {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;

    h3 {
      font-size: 0.6rem;
    }

    .modifier {
      font-size: 1.8rem;
      text-align: center;
      height: 3rem;
      width: 3.5rem;
      border: none;
      background: none;
      color: var(--clr-white);
    }

    .score {
      font-size: 0.8rem;
      text-align: center;
      height: 2rem;
      width: 2rem;
      border: none;
      border-radius: 50%;
      background: var(--clr-dark);
      color: var(--clr-white);
    }
  }

  .skill-block {
    padding-bottom: 2rem;
    width: 18rem;

    .skill-block-titles {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: row;

      div {
        font-weight: bolder;
        font-size: 0.7rem;
        color: var(--clr-dice-roll-hover);
      }
      .skill-title-proficiency {
        padding-right: 1rem;
        width: 1.6rem;
      }

      .skill-title-ability {
        padding-left: 0.5rem;
        width: 1.5rem;
      }

      .skill-title-skill {
        padding-left: 1.5rem;
        width: 12.5rem;
      }

      .skill-title-bonus {
      }

    }

    .skill-box {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: row;

      label {
        font-size: 0.8rem;
      }

      .base-ability-label {
        display: flex;
        align-content: center;
        justify-content: center;
        color: var(--clr-accent-light);
        font-weight: bolder;
      }

      .proficiency-indicator {
        width: 1.5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .base-ability {
        width: 3rem;
      }

      .skill {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 0.5px solid var(--clr-char-outline);
        padding-right: 0.8rem;

        .skill-name {
          width: 10rem;

          label {
            font-size: 0.8rem;
            display: flex;
            text-transform: capitalize;
          }
        }

        .skill-dice-roll {
          width: 1.5rem;

          .dice-icon {
            display: flex;
            align-items: center;
            fill: var(--clr-accent-light);
            width: 1rem;
          }
        }

        .skill-dice-roll :hover {
          fill: var(--clr-skill-dice-roll-hover);
          cursor: pointer;
        }

        .skill-modifier {
          display: flex;
          align-items: center;
          text-align: center;
          width: 1rem;
          height: 2rem;
          color: var(--clr-white);

          label {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

/* Armor Class */
.armor-class {
  position: relative;

  .shield {
    height: 6rem;
    width: 6rem;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: var(--opacity);
  }

  h3.title {
    position: absolute;
    top: 2.1rem;
    left: 2rem;
    font-size: 0.6rem;
    z-index: 1;
    color: var(--clr-white);
  }

  h3.sub-title {
    position: absolute;
    top: 4.3rem;
    left: 2rem;
    font-size: 0.6rem;
    z-index: 1;
    color: var(--clr-white);
  }

  input {
    position: absolute;
    top: 2.2rem;
    left: 1.2rem;
    font-size: 1.5rem;
    text-align: center;
    height: 3rem;
    width: 3.5rem;
    border: none;
    background: none;
    font-weight: 800;
    color: var(--clr-white);
    z-index: 1;
  }
}

/* Tabbed Content Actions and Inventory */

.tabbed-component {
  display: flex;
  flex-direction: column;
  background: var(--clr-dark-background);
  padding: 0.5rem;
  opacity: var(--opacity);
  background: var(--clr-dark-background);
  border: 2px solid var(--clr-char-outline);
  border-radius: 0.5rem;
  grid-column: 6 / span 4;
  grid-row: 3 / span 6;

  .tab-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .tab-content.actions.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    color: var(--clr-dice-roll-hover);
    font-weight: bolder;
    font-size: 0.8rem;
  }

  .tab-content.actions.strikes {
    padding-bottom: 0.5rem;
  }

  .title-underline {
    border-bottom: 1px solid var(--clr-char-outline);
  }
  
  .tab.active-tab {
    font-weight: bolder;
    border-bottom: 3px solid var(--clr-char-outline);
  }

  .content {
    overflow-y: auto;
    display: none;
    max-height: 30rem;
  }

  .content.active-content {
    display: block;
  }
}

/* Scrollbar Styles */
/* width */
::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-accent-light);
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--clr-char-outline);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-dice-roll-hover);
}