.spell-slots {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 0.3rem;
  margin-left: auto;
  margin-right: 0.2rem;
  text-align: center;

  .spell-slot {
    width: 0.8rem;
    height: 0.8rem;
    outline: 1px solid var(--clr-char-outline);
    outline-offset: -0.1rem;
    border-radius: 0.1rem;
  }

  .spell-slot.burnt {
    background: var(--clr-char-outline);
    outline: 1px solid var(--clr-dark-background);
    outline-offset: -0.2rem;
    border-radius: 0.1rem;
  }

  .spell-slots-label {
    text-transform: uppercase;
    color: var(--clr-white);
    font-size: 0.6rem;
    margin-right: 0.5rem;
    padding-bottom: 0.1rem;
  }
}