.card {
    position: relative;
}

.front-section {

}

.front-section img {
    max-height: 400px;
    max-width: 300px;
}

.details img {
    max-height: 35px;
    max-width: 35px;
}

.details-bar {
    display: flex;
    flex-direction: row;
}

.card-button-bar {
    display: flex;
    flex-direction: row;
}

.lock-sgv {
    fill: var(--clr-light);
    height: 20px;
    width: 20px;
}

.lock-sgv:hover {
    fill: white;
}

svg {
    fill: var(--clr-accent-dark);
    height: 20px;
    width: 20px;
}

svg:hover{
    fill: var(--clr-light);
}

.back-section {
    display: none;
}