.login-page {
  margin-top: 4rem;
  height: 95vh;
  width: 100vw;
  background: var(--clr-white);

  h2,
  h3 {
    color: var(--clr-dark);
  }

  .login-btn {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 3rem;
    width: 15rem;
    border-radius: 1.5rem;
    gap: 1.2rem;
    color: var(--clr-white);
    background: var(--clr-accent-dark);
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.9;
    border: none;

    &:hover {
      background: var(--clr-accent-light);
    }

    .google-logo {
      margin-left: 0.5rem;
      height: 1.5rem;
      width: 1.5rem;
    }

    .apple-logo {
      margin-left: 0.4rem;
      margin-bottom: 0.1rem;
      height: 1.8rem;
      width: 1.8rem;
    }
  }
}