.skill-modifiers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--clr-dark-background);
  border: 2px solid var(--clr-char-outline);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  opacity: var(--opacity);
  overflow: hidden;


  h1 {
    font-size: 1rem;
    padding-top: 0.5rem;
  }

  .skill-block {
    padding-bottom: 2rem;
    width: 18rem;
    height: 38rem;

    .skill-block-titles {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: row;

      div {
        font-weight: bolder;
        font-size: 0.7rem;
        color: var(--clr-dice-roll-hover);
      }

      .skill-title-proficiency {
        width: 1.6rem;
      }

      .skill-title-ability {
        padding-left: 0.67rem;
        width: 1.5rem;
      }

      .skill-title-skill {
        padding-left: 1.5rem;
        width: 12.5rem;
      }
    }

    .skill-title-bonus.title {
      padding-right: 0.4rem;
    }

    .skill-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;

      label {
        font-size: 0.8rem;
      }

      .base-ability-label {
        display: flex;
        align-content: center;
        justify-content: center;
        color: var(--clr-accent-light);
        font-weight: bolder;
      }

      .proficiency-indicator {
        width: 1.5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .base-ability {
        width: 3rem;
      }

      .skill {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        border-bottom: 0.5px solid var(--clr-char-outline);

        .skill-name {
          width: 10.5rem;

          label {
            font-size: 0.8rem;
            display: flex;
            text-transform: capitalize;
          }
        }

        .skill-dice-roll {
          width: 1.5rem;

          .dice-icon {
            display: flex;
            align-items: center;
            fill: var(--clr-accent-light);
            width: 1rem;
          }
        }

        .skill-dice-roll :hover {
          fill: var(--clr-skill-dice-roll-hover);
          cursor: pointer;
        }

        .skill-modifier {
          display: flex;
          align-items: center;
          justify-content: end;
          width: 1.2rem;
          height: 2rem;
          color: var(--clr-white);

          label {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.lore-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 2rem;

  .manage-lore {
    margin-top: 0.2rem;
    color: var(--clr-dice-roll-hover)
  }

  .plus-symbol {
    font-size: 1.2rem;
  }
}

.lore-wrapper:hover {
  cursor: pointer;
  font-weight: bolder;
}