.toast {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 25rem;
  background: var(--clr-dark-background);
  color: var(--clr-white);

  .toast-title{
    font-size: 1rem;
  }

  .toast-message {
    font-size: 0.8rem;
  }
}