*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

@font-face {
  font-family: 'Pathfinder2eActions';
  src: url('/public/fonts/Pathfinder2eActions.ttf') format('truetype');
}

:root {
  --clr-dark: #202936;
  --clr-light: #d5d5d5;
  --clr-white: #ffffff;
  --clr-accent-light: #6e6e73;
  --clr-accent-dark: #262626;
  --clr-dark-background: #181818;
  --clr-dark-lowlight: #282828;

  --border-radius: 1em;
  --quadratic-transform: transform 100ms cubic-bezier(0.21, 0.1, 0.81, 0.1);
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: grid;
  background: var(--clr-dark);
  color: var(--clr-white);
}