*,
*:before,
*:after {
    box-sizing: border-box;
    user-select: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

:root {
    --clr-dark: #202936;
    --clr-light: #d5d5d5;
    --clr-white: #ffffff;
    --clr-accent-light: #6e6e73;
    --clr-accent-dark: #262626;
    --clr-dark-background: #181818;
    --clr-dark-lowlight: #282828;

    --border-radius: 1em;
    --quadratic-transform: transform 150ms cubic-bezier(0.21, 0.1, 0.81, 0.1);
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: grid;
    background: var(--clr-dark);
    color: var(--clr-white);
    overflow-y: scroll;

    .card-block {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-top: 20em;
    }
}

svg {
    fill: var(--clr-white);
    width: 1.2em;
    cursor: pointer;
}

svg:hover {
    transform: scale(1.2);
}